@font-face {
	font-family: "SegoeUILight";
	src: url("../fonts/SegoeUILight/SegoeUILight.eot");
	src: url("../fonts/SegoeUILight/SegoeUILight.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUILight/SegoeUILight.woff") format("woff"), url("../fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "SegoeUIBold";
	src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
	src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"), url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "SegoeUIRegular";
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"), url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

body {
	background-color: #fff;
	font-size: 14px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: ' ';
	display: table;
}

.clearfix:after {
	clear: both;
}

img {
	vertical-align: middle;
}

.inner-wrapper {
	max-width: 1170px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.header {
	margin-top: 20px;
	margin-bottom: 20px;
}

.icon {
	display: none;
}

/*icon*/
.icon span,
.icon span:before,
.icon span:after {
	content: "";
	position: absolute;
	display: block;
	width: 25px;
	height: 3px;
	border-radius: 1px;
	background: #369;
	cursor: pointer;
}

.icon span:before {
	top: -10px;
}

.icon span:after {
	bottom: -10px;
}

.icon span,
.icon span:before,
.icon span:after {
	transition: all 300ms ease-in-out;
}

.icon.active span {
	background-color: transparent;
}

.icon.active span:before,
.icon.active span:after {
	top: 0;
}

.icon.active span:before {
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.icon.active span:after {
	top: 10px;
	-ms-transform: translatey(-10px) rotate(-45deg);
	transform: translatey(-10px) rotate(-45deg);
}

/* end of icon*/
.nav {
	display: inline-block;
}

.header_links {
	vertical-align: sub;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0;
	display: inline-block;
}

.header_links li {
	vertical-align: middle;
	list-style: none;
}

.header_links li a {
	margin-left: 50px;
	color: #000;
	text-decoration: none;
	font-family: SegoeUILight;
	font-weight: bold;
	font-size: 14px;
}

.header_links li a:hover,
.header_links li a:focus {
	text-decoration: underline;
}

.header_phone {
	font-size: 22px;
	float: right;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 20px;
	color: #336699;
	font-family: SegoeUIBold;
}

.red_text {
	color: #ef4939;
}

.pagination {
	background-color: #eee;
	padding-top: 3px;
	padding-bottom: 3px;
}

.breadcrumb {
	padding-left: 0px;
	list-style: none;
}

.breadcrumb li {
	display: inline-block;
}

.pagination_item {
	text-decoration: none;
	color: #000;
	font-family: SegoeUILight;
	font-weight: bold;
}

.active {
	color: #336699;
}

.arrow_down {
	cursor: pointer;
	text-decoration: none;
	vertical-align: middle;
	font-family: SegoeUILight;
	font-weight: bold;
	font-size: 14px;
	line-height: 10px;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

/*fotorama*/
.fotorama_description {
	margin-top: 38px;
}

/*end of fotorama*/
/*car description*/
/*dropdowns(option - select)*/
.form-select {
	display: inline-block;
	max-width: 260px;
	outline: none;
}

.form-select select {
	font-size: 14px;
	outline: none;
	width: 260px;
	height: 30px;
	border: 0;
	border: 1px solid #e1e1e1;
	background: #fff url("../img/arrow-down.png") no-repeat;
	background-size: 28px;
	background-position: right 0px center;
	font-family: SegoeUILight;
	font-weight: bold;
	padding-left: 12px;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 3px;
}

/* End of dropdowns(option - select)*/
.car_description {
	display: inline-block;
	margin-left: 3%;
}

.car_description h1 {
	color: #333;
	font-size: 24px;
	line-height: 10px;
	font-weight: bold;
	font-family: SegoeUIBold;
	margin-top: 2px;
}

.car_modification p {
	display: inline-block;
	margin-right: 34px;
	font-size: 16px;
	font-family: SegoeUILight;
	font-weight: bold;
}

.car_complect p {
	display: inline-block;
	margin-right: 34px;
	font-size: 16px;
	font-family: SegoeUILight;
	font-weight: bold;
}

.car_colors p {
	display: inline-block;
	margin-right: 27px;
	font-size: 16px;
	font-family: SegoeUILight;
	font-weight: bold;
}

.car_colors ul {
	display: inline-block;
	padding-left: 0;
}

.car_colors ul li {
	list-style: none;
}

.car_colors ul li a {
	border-radius: 3px;
	vertical-align: sub;
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-right: 10px;
}

.car_colors ul li a:nth-child(1) {
	background-color: #96523d;
}

.car_colors ul li a:nth-child(2) {
	background-color: #4758a5;
}

.car_colors ul li a:nth-child(3) {
	background-color: #000;
}

.car_colors ul li a:nth-child(4) {
	background-image: linear-gradient(to top, #ad4732 0%, #000000 0%, #bababa 0%, #ffffff 100%);
}

.car_colors ul li a:nth-child(5) {
	background-color: #447326;
}

.car_colors ul li a:nth-child(6) {
	background-color: #f13028;
}

.color_active {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	width: 42px;
	height: 45px;
	border: 1px solid red;
	background: red;
}

.car_price p {
	display: inline-block;
	margin-right: 47px;
	font-size: 16px;
	font-family: SegoeUILight;
	font-weight: bold;
}

.car_price span:nth-of-type(1) {
	vertical-align: baseline;
	color: #333;
	font-size: 24px;
	font-family: SegoeUIBold;
}

.car_price span:nth-of-type(2) {
	vertical-align: baseline;
	color: #333;
	font-size: 24px;
	font-family: SegoeUILight;
	margin-left: 15px;
}

.car_price span:nth-of-type(3) {
	vertical-align: text-top;
	font-size: 16px;
	cursor: pointer;
}

/*animated arrow*/
.up {
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.car_options a:nth-of-type(1) {
	display: inline-block;
	margin-right: 70px;
	font-size: 16px;
	font-family: SegoeUILight;
	font-weight: bold;
	color: #336699;
	text-decoration: none;
	border-bottom: 1px dashed blue;
}

.buy_car_btn {
	display: inline-block;
	width: 200px;
	padding-top: 11px;
	padding-bottom: 11px;
	background-image: linear-gradient(to top, #639933 0%, #65aa40 100%);
	font-size: 16px;
	font-family: SegoeUIRegular;
	font-weight: 400;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	transition: 0.2s;
}

.buy_car_btn:hover,
.buy_car_btn:focus {
	-ms-transform: scale(1.06);
	transform: scale(1.06);
	background-image: linear-gradient(to top, #a8ff5b 0%, #47981c 100%);
}

/*car description characteristics*/
.car_characteristics h3 {
	color: #000;
	font-size: 16px;
	font-family: SegoeUILight;
	font-weight: bold;
}

.car_characteristics p {
	color: #666;
	font-size: 14px;
	font-family: SegoeUILight;
	font-weight: bold;
}

.car_characteristics a {
	display: inline-block;
	margin-right: 70px;
	font-size: 16px;
	font-family: SegoeUILight;
	font-weight: bold;
	color: #336699;
	text-decoration: none;
	border-bottom: 1px dashed blue;
}

.car_characteristics span {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	font-family: SegoeUILight;
}

.car_characteristics .car_characteristics--item:nth-of-type(1) span {
	margin-left: 80px;
}

.car_characteristics .car_characteristics--item:nth-of-type(2) span {
	margin-left: 65px;
}

.car_characteristics .car_characteristics--item:nth-of-type(3) span {
	margin-left: 62px;
}

.car_characteristics .car_characteristics--item:nth-of-type(4) span {
	margin-left: 27px;
}

.car_characteristics .car_characteristics--item:nth-of-type(5) span:nth-of-type(1) {
	margin-left: 25px;
}

.car_characteristics .car_characteristics--item:nth-of-type(5) span:nth-of-type(2) {
	display: block;
	margin-left: 145px;
}

.car_characteristics .car_characteristics--item:nth-of-type(5) span:nth-of-type(3) {
	display: block;
	margin-left: 145px;
}

.car_characteristics .car_characteristics--item:nth-of-type(5) span:nth-of-type(4) {
	display: block;
	margin-left: 145px;
}

.car_characteristics-long {
	display: inline-block;
	margin-left: 80px !important;
}

.fotorama {
	display: inline-block;
	vertical-align: top;
}

/*End of car description characteristics*/
/*block with counts of finded available cars*/
.counts_finded {
	margin-top: 52px;
}

.on_sale {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	font-family: SegoeUILight;
	font-weight: bold;
	color: #fff;
	background-color: #336699;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
}

.on_sale span {
	vertical-align: middle;
	margin-left: 6px;
	font-family: SegoeUILight;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	background-image: linear-gradient(to top, #df3a2a 0%, #f85f51 100%);
	border-radius: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 11px;
	padding-right: 11px;
	text-align: center;
}

.find_car {
	display: inline-block;
	width: 100%;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #336699;
}

.find_car ul {
	display: inline-block;
	padding-left: 21px;
}

.find_car ul li {
	display: inline-block;
}

.find_car p {
	color: #fff;
	right: 32px;
	display: inline-block;
	position: relative;
	font-size: 16px;
	margin-top: 29px;
	font-family: SegoeUILight !important;
	font-weight: 400 !important;
}

.find_car p:after {
	position: relative;
	content: url(../img/time1.png);
	top: 4px;
	left: 11px;
}

.find_car_text {
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	font-family: SegoeUILight;
}

.find_car_digits {
	color: #fff;
	margin-left: 10px;
	margin-right: 10px;
	font-family: SegoeUIBold;
	font-size: 36px;
}

.find_car-text {
	float: left;
}

/*End of the block with counts of finded available cars*/
/*sort select*/
.btn_sort {
	margin-top: 20px;
}

.btn_sort span {
	display: inline-block;
	max-width: 180px;
	outline: none;
}

.btn_sort span select {
	cursor: pointer;
	outline: none;
	width: 180px;
	height: 30px;
	border: 0;
	border: 1px solid #e1e1e1;
	background: #fff url("../img/arrow-down-sort.png") no-repeat;
	background-size: 8px;
	background-position: right 10px center;
	font-family: SegoeUILight;
	font-weight: 400;
	padding-left: 8px;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 3px;
}

/*order car*/
.order_car {
	padding-left: 0;
	display: inline-block;
	max-width: 820px;
	margin-top: 37px;
}

.item {
	margin-bottom: 40px;
	border-right: 1px solid #d1d1d1;
	padding-right: 23px;
	max-width: 820px;
	overflow: hidden;
}

.item a {
	margin-left: 30px;
	line-height: 30px;
	margin-bottom: 10px;
}

.item img {
	width: 220px;
	height: 160px;
	background-size: cover;
	display: inline-block;
	overflow: hidden;
}

.item .item_left_overflow {
	display: inline-block;
	width: 40%;
}

.item .car_name {
	text-decoration: none;
	color: #336699;
	font-size: 16px;
	font-family: SegoeUIRegular;
	margin-top: 15px;
}

.item .car_power {
	margin-top: 15px;
	color: #000;
	font-family: SegoeUIRegular;
	font-size: 14px;
	line-height: 35px;
	display: inline-block;
	margin-left: 30px;
}

.item .car_color {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #000;
	font-family: SegoeUIRegular;
	font-size: 16px;
	line-height: 22px;
	display: inline-block;
	margin-left: 30px;
	overflow: hidden;
	vertical-align: top;
}

.item .car_town {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #000;
	font-family: SegoeUIRegular;
	font-size: 16px;
	line-height: 22px;
	display: inline-block;
	margin-left: 30px;
	vertical-align: top;
}

.item .item_right_overflow {
	display: inline-block;
	width: 30%;
}

.item .item_price {
	color: #ef4939;
	font-size: 24px;
	font-family: SegoeUIBold;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 22px;
	float: right;
	vertical-align: top;
}

.item .buy_car_btn2 {
	display: inline-block;
	width: 200px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: linear-gradient(to top, #639933 0%, #65aa40 100%);
	font-size: 16px;
	font-family: SegoeUIRegular;
	font-weight: 400;
	color: #fff;
	text-align: center;
	text-decoration: none;
	transition: 0.3s;
}

.item .buy_car_btn2:hover,
.item .buy_car_btn2:focus {
	-ms-transform: scale(1.06);
	transform: scale(1.06);
	background-image: linear-gradient(to top, #a8ff5b 0%, #47981c 100%);
}

.item .dealer {
	color: #000;
	text-decoration: none;
	float: right;
	font-size: 18px;
	font-family: SegoeUIRegular;
	margin-top: 15px;
	margin-bottom: 0;
}

.item .dealer img {
	width: 100%;
	height: auto;
}

.discount {
	float: right;
	text-decoration: line-through;
	font-size: 16px;
	margin-bottom: 0px;
}

.new_price {
	color: #333333;
	font-size: 24px;
}

.item_price2 {
	color: #ef4939;
	font-size: 20px;
	font-family: SegoeUIBold;
	font-weight: bold;
	line-height: 40px;
	float: right;
}

.all_available_cars {
	margin-bottom: 24px;
	overflow: hidden;
	display: inline-block;
	max-width: 820px;
}

.all_available_cars a:nth-child(1) {
	color: #336699;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	font-family: SegoeUILight;
	display: inline-block;
	width: 50%;
}

.all_available_cars a:nth-child(2) {
	text-align: right;
	text-decoration: none;
	border-bottom: 1px dashed #000;
	line-height: 24px;
	display: inline-block;
	width: 23.6%;
	color: #000;
	font-size: 16px;
	font-weight: bold;
	font-family: SegoeUILight;
}

.used_cars {
	padding-left: 0px;
	display: inline-block;
	max-width: 820px;
	margin-bottom: 32px;
}

.used_cars .used_car_item {
	overflow: hidden;
	margin-bottom: 32px;
}

.used_cars .used_car_item a {
	color: #000;
}

.used_cars .used_car_item:nth-of-type(4) {
	border-bottom: 1px solid #c6c6c6;
	padding-bottom: 34px;
}

.used_cars h2 {
	color: #336699;
	font-size: 24px;
	font-family: SegoeUILight;
	font-weight: bold;
}

.used_cars img {
	float: left;
}

.used_cars .used_car_item_price {
	font-size: 18px;
	line-height: 30px;
	overflow: hidden;
	margin-left: 23px;
}

.used_car_item_price {
	width: 80%;
	float: left;
}

.used_car_item_year {
	line-height: 30px;
	margin-left: 23px;
	width: 80%;
	float: left;
}

.used_car_item_name {
	font-size: 18px;
	font-weight: bold;
	font-family: SegoeUILight;
}

.used_car_item_divider {
	margin-left: 14px;
	margin-right: 14px;
	font-size: 18px;
	font-weight: bold;
	font-family: SegoeUILight;
}

.used_car_item_cost {
	color: #333;
	font-size: 18px;
	font-weight: bold;
	font-family: SegoeUIBold;
}

.user_car_item_description {
	font-size: 14px;
	font-family: SegoeUILight;
	font-weight: bold;
	color: #666;
}

.used_car_item_year span {
	font-family: SegoeUILight;
	font-size: 14px;
	font-weight: bold;
}

.used_car_item_year span:nth-of-type(1) {
	margin-right: 10px;
}

/*used cars link*/
.used_cars_link {
	text-align: right;
	list-style: none;
}

.look_add_used {
	text-align: right;
	color: #000;
	font-size: 16px;
	text-decoration: none;
	border-bottom: 1px #000 dashed;
	font-weight: bold;
	font-family: SegoeUILight;
}

/* End of used cars link*/
/*aside*/
.aside {
	margin-left: 55px;
	vertical-align: top;
	display: inline-block;
	max-width: 260px;
}

.aside h3 {
	font-size: 18px;
	font-family: SegoeUILight;
	font-weight: bold;
	margin-bottom: 46px;
}

form button {
	margin-top: 44px;
	height: 40px;
	width: 100%;
	background-color: #ef4939;
	border: none;
	color: #fff;
	font-size: 16px;
	font-family: SegoeUILight;
	font-weight: bold;
	transition: .3s;
	animation: swing;
}

form button:hover,
form button:focus {
	box-shadow: inset 5px 0px 20px 12px #b53a30;
	cursor: pointer;
	-ms-transform: scale(1.01);
	transform: scale(1.01);
}

.car_brand {
	font-size: 14px;
	font-weight: bold;
	font-family: SegoeUILight;
	color: #666;
	line-height: 10px;
	display: inline-block;
	margin-bottom: 14px;
}

.car_model {
	font-size: 14px;
	font-weight: bold;
	font-family: SegoeUILight;
	color: #666;
	line-height: 10px;
	display: inline-block;
	margin-bottom: 14px;
	margin-top: 14px;
}

.brand {
	font-size: 14px;
	font-weight: bold;
	font-family: SegoeUILight;
	color: #666;
}

/*car params(price)*/
.aside h4 {
	line-height: 10px;
	font-size: 18px;
	font-family: SegoeUILight;
	font-weight: bold;
	margin-bottom: 15px;
}

.aside h4 span {
	font-size: 18px;
	vertical-align: middle;
}

.car_params {
	font-size: 0px;
}

.car_params label {
	font-size: 14px;
	display: inline-block;
	color: #666;
	font-size: 14px;
	font-family: SegoeUILight;
	font-weight: bold;
	margin: 15px 0px 6px 0px;
}

.car_params input[type="text"] {
	padding-left: 12px;
	font-family: SegoeUILight;
	font-size: 14px;
	display: inline-block;
	width: 100%;
	border: 1px solid #e1e1e1;
	height: 30px;
}

.car_params input[type="text"]:focus {
	outline: none;
}

.form-select_currency {
	cursor: pointer;
	font-size: 14px;
	outline: none;
	width: 31%;
	height: 30px;
	border: 1px solid #e1e1e1;
	background: #fff url(../img/arrow-down.png) no-repeat;
	background-size: 28px;
	background-position: right 0px center;
	font-family: SegoeUILight;
	font-weight: bold;
	padding-left: 12px;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.price_item {
	width: 34.3%;
	display: inline-block;
}

#price_to {
	border-left: none;
	border-right: none;
}

/*end of car params(price)*/
/*form select year*/
.form-select_year {
	cursor: pointer;
	font-size: 14px;
	outline: none;
	width: 100%;
	height: 30px;
	border: 1px solid #e1e1e1;
	background: #fff url(../img/arrow-down.png) no-repeat;
	background-size: 28px;
	background-position: right 0px center;
	font-family: SegoeUILight;
	font-weight: bold;
	padding-left: 12px;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.year_item {
	width: 50%;
	display: inline-block;
}

/*checkboxes*/
#checkbox1 {
	display: none;
}

#checkbox2 {
	display: none;
}

.checkbox {
	height: 30px;
	width: 30px;
	border: 1px solid #dddddd;
	display: inline-block;
	position: relative;
}

.checkbox [type=checkbox]:checked+span:before {
	content: '>';
	font-size: 22px;
	color: #4171a0;
	font-weight: 700;
	font-family: SegoeUIBold;
	position: absolute;
	top: 2px;
	left: 9px;
	display: inline-block;
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.chb_label {
	margin-left: 14px !important;
	margin-top: -36px !important;
	vertical-align: middle;
	margin-right: 24px !important;
}

.checkbox_header {
	display: block;
	color: #666;
	font-size: 14px;
	font-family: SegoeUILight;
	font-weight: bold;
	margin: 15px 0px 0px 0px;
}

/*end of checkboxes*/
/*nav with popular searchers*/
.searchers h4 {
	line-height: 18px;
	font-size: 18px;
	font-family: SegoeUILight;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 22px;
}

.searchers ul {
	padding-left: 0;
}

.searchers li {
	list-style: none;
}

.searchers li a {
	line-height: 30px;
	text-decoration: none;
	color: #336699;
	font-weight: bold;
	font-size: 14px;
	font-family: SegoeUILight;
}

.searchers li:hover,
.searchers li:focus {
	text-decoration: underline;
}

/*car that can inerest you*/
.interest_cars>h2 {
	color: #336699;
	font-size: 24px;
	font-family: SegoeUILight;
	font-weight: bold;
	margin-top: 65px;
	margin-bottom: 38px;
}

.similar_cars>h2 {
	color: #336699;
	font-size: 24px;
	font-family: SegoeUILight;
	font-weight: bold;
	margin-top: 48px;
	margin-bottom: 38px;
}

.item-car.card-item {
	box-shadow: 0 0 5px 2px rgba(28, 39, 41, 0.15);
	margin-right: 22px;
	display: inline-block;
}

.card-item a {
	text-decoration: none;
	display: inline-block;
	position: relative;
	transition: .2s;
}

.card-item a:hover,
a:hover .describe,
a:hover .year,
a:hover .model,
a:hover .rur,
a:hover .rouble,
a:hover .tild,
a:hover .usd,
a:hover .time,
a:hover .timeago,
a:hover .founded,
.card-item a:focus,
a:focus .describe,
a:focus .year,
a:focus .model,
a:focus .rur,
a:focus .rouble,
a:focus .tild,
a:focus .usd,
a:focus .time,
a:focus .timeago,
a:focus .founded {
	background-color: #369;
	color: #fff !important;
}

.card-item a:hover,
a:hover .item-car,
.card-item a:focus,
a:focus .item-car {
	-ms-transform: scale(1.04);
	transform: scale(1.04);
	box-shadow: 4px 4px #227dd6, 2px 2px #227dd6, 3px 3px #227dd6, 4px 4px #227dd6, 5px 5px #227dd6, 6px 6px #227dd6, 7px 7px #227dd6;
	-ms-transform: translateY(-7px);
	transform: translateY(-7px);
}

.card-item .pic {
	max-height: 260px;
	max-width: 260px;
	overflow: hidden;
}

.card-item .pic img {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	width: 260px;
	height: 260px;
}

.card-item .describe {
	padding: 20px 20px;
	width: 260px;
}

.card-item .describe .model,
.card-item .describe .year {
	text-decoration: none;
	font-size: 16px;
	color: #000;
	display: block;
	font-family: SegoeUILight;
	margin: 0;
	font-weight: bold;
}

.card-item .describe .price {
	margin-top: 15px;
	font-family: SegoeUILight, Arial, sans-serif;
}

.rur {
	font-size: 18px;
	display: inline-block;
	vertical-align: baseline;
	color: #336699;
	font-family: SegoeUIBold;
	margin: 0;
	font-weight: bold;
}

.tild {
	display: inline-block;
	padding-left: 7px;
	padding-right: 7px;
	font-size: 16px;
	display: inline-block;
	vertical-align: baseline;
	font-family: SegoeUIBold;
	margin: 0;
	font-weight: bold;
	color: #333333;
}

.rouble {
	position: relative;
	display: inline-block;
	line-height: 1;
	margin-left: 6px;
	vertical-align: baseline;
}

.usd {
	display: inline-block;
	vertical-align: baseline;
	color: #333;
	font-size: 16px;
	margin: 0;
	font-family: SegoeUIBold;
	font-weight: bold;
}

.card-item .describe .offer {
	color: #369;
	font-size: 14px;
	font-family: segoeuil, Arial, sans-serif;
	margin: 0;
}

.founded {
	font-size: 14px;
	color: #336699;
	font-family: SegoeUILight;
	font-weight: bold;
}

.card-item .describe .time {
	font-size: 13px;
	padding-left: 25px;
	background-image: url(../img/time.png);
	background-repeat: no-repeat;
	background-position: left 5px;
	margin: 15px 0 0;
	color: #666;
	font-family: SegoeUILight, Arial, sans-serif;
	font-weight: bold;
}

.year {
	line-height: 30px;
}

/*banner*/
.banner {
	text-align: center;
	margin-top: 78px;
	background-color: #eeeeee;
}

.banner a {
	padding-top: 61px;
	padding-bottom: 61px;
	text-decoration: none;
	display: block;
}

.banner a .banner_text {
	display: inline-block;
}

.banner_logo {
	vertical-align: sub;
	display: inline-block;
	width: 15%;
}

.banner_text {
	vertical-align: middle;
	display: inline-block;
	width: 60%;
}

.banner_text h2 {
	margin-top: 10px;
	color: #333333;
	font-family: Arial;
	font-weight: bold;
	font-size: 30px;
	line-height: 30px;
	margin-bottom: 5px;
}

.banner_text span {
	color: #333333;
	font-family: Arial;
	font-size: 17px;
}

.banner_next {
	vertical-align: sub;
	display: inline-block;
	width: 15%;
}

.questions {
	color: #336699;
	font-size: 36px;
	font-family: SegoeUIBold;
	text-align: center;
	font-weight: bold;
	line-height: 30px;
}

/*blue block*/
.blue {
	background-color: #336699;
	padding: 30px 5px;
	color: #fff;
	margin: 0 auto;
}

.blue .inner-wrapper {
	text-align: center;
}

.call-back-white {
	text-align: center;
	width: 29.8%;
	display: inline-block;
	vertical-align: top;
}

.call-back-white p {
	font-size: 14px;
	line-height: 18px;
	font-family: SegoeUIRegular, Arial, sans-serif;
	text-align: center;
}

.white-bordered-btn {
	text-decoration: none;
	font-size: 24px;
	font-family: SegoeUILight, Arial, sans-serif;
	color: #fff;
	background-color: transparent;
	border: 3px solid;
	text-align: center;
	padding: 5px 35px 7px;
	width: 100%;
	display: block;
	transition: .3s;
	cursor: pointer;
}

.white-bordered-btn:hover,
.white-bordered-btn:focus {
	color: #336699;
	background-color: #FFF;
}

.or {
	width: 39%;
	display: inline-block;
	vertical-align: top;
	font-size: 48px;
	font-family: SegoeUIBold, Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	padding-top: 30px;
}

/*footer*/
.footer {
	padding: 84px 0px 84px 0px;
}

.footer .logo {
	display: inline-block;
	vertical-align: middle;
	max-width: 176px;
	widows: 100%;
}

.footer .text {
	display: inline-block;
	vertical-align: sub;
	color: #000;
	margin-left: 45px;
	font-family: SegoeUILight;
	font-weight: 300;
	font-size: 18px;
	vertical-align: sub;
}

.footer .social-icons {
	float: right;
	color: #000;
	font-family: SegoeUILight;
	font-weight: 300;
	font-size: 18px;
}

.footer .social-icons span a img {
	position: relative;
	transition: all .4s ease-in-out;
}

.footer .social-icons span a img:hover,
.footer .social-icons span a img:focus {
	opacity: .9;
	-ms-transform: translateY(5px);
	transform: translateY(5px);
}

.social-text {
	margin-right: 27px;
}

.footer .social-icons .soci-text {
	font-family: segoeuil, Arial, sans-serif;
	font-size: 18px;
	display: inline-block;
	vertical-align: middle;
}

.option_table a {
	font-size: 16px;
	color: #336699;
	font-family: SegoeUILight;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px dashed #336699;
	margin-top: 16px;
	display: inline-block;
}

.new_car_black_head {
	line-height: 36px;
	color: #000;
	font-size: 16px;
	font-family: SegoeUILight;
	font-weight: bold;
}

.car_description_table td:first-child {
	color: #666;
}

.car_description_table td {
	font-size: 14px;
	vertical-align: top;
	font-family: SegoeUILight, Arial, sans-serif;
}

.car_description_table td:nth-child(2) {
	color: #000;
	font-family: SegoeUILight, Arial, sans-serif;
	font-weight: bold;
}

.first_td {
	width: 158px;
}

.car_description_table td:first-child {
	color: #666;
}

.car_description_table td {
	font-size: 14px;
	vertical-align: top;
	font-family: SegoeUILight, Arial, sans-serif;
	line-height: 22px;
	font-weight: bold;
}