@media (max-width: 1179px) {
	.inner-wrapper {
		padding-left: 15px;
		padding-right: 15px
	}

	/*order car*/
	.order_car {
		max-width: 100%
	}

	.order_car .item {
		max-width: 100% !important
	}

	.order_car .discount {
		display: block;
		float: none;
		text-align: right
	}

	/*aside - right block*/
	.aside {
		margin-left: 0px;
		float: none;
		display: block;
		width: 100%;
		max-width: 100%
	}

	.aside h3 {
		text-align: center
	}

	.aside h4 {
		text-align: center
	}

	.aside .mark-model {
		text-align: center
	}

	.aside .form-select {
		display: block;
		max-width: 100%;
		margin: 0 auto;
		outline: none
	}

	.aside .form-select select {
		width: 680px
	}

	.aside .car_params {
		text-align: center
	}

	.aside .price_item {
		max-width: 240px;
		display: inline-block
	}

	.aside .form-select_currency {
		max-width: 200px
	}

	.aside .year_item {
		max-width: 680px;
		display: block;
		text-align: center;
		margin: 0 auto;
		width: 100%
	}

	.aside .car_body {
		text-align: center
	}

	.aside button[type="submit"] {
		max-width: 260px;
		display: block;
		margin: 0 auto;
		margin-top: 40px
	}

	.searchers ul {
		text-align: center
	}

	.all_available_cars {
		display: block;
		max-width: 100%
	}

	.all_available_cars a:nth-child(2) {
		width: auto
	}

	/*used cars*/
	.used_cars {
		display: block;
		max-width: 100%
	}

	/*end of used cars*/
	.banner a h2 {
		font-size: 23px
	}

	.banner a span {
		font-size: 14px
	}

	/*can interest*/
	.interest_cars>h2 {
		text-align: center
	}

	/*similar cars*/
	.similar_cars>h2 {
		text-align: center
	}

	/*used cars*/
	.used_cars_link {
		text-align: center
	}

	.used_cars h2 {
		text-align: center !important
	}

	.used_car_item {
		text-align: center
	}

	.used_cars .used_car_item a {
		display: inline-block !important
	}

	.interest_cars {
		text-align: center
	}

	.item-car.card-item {
		width: 33%;
		margin-bottom: 22px
	}

	.item-car.card-item:nth-child(odd) {
		margin-right: 0px !important
	}

	.card-item a {
		width: 100%
	}

	.card-item .pic {
		max-height: 100%;
		max-width: 100%
	}

	.card-item .pic img {
		width: 100%;
		height: auto
	}

	.similar_cars {
		text-align: center
	}

	.describe {
		width: 100% !important
	}

	.time {
		line-height: 26px !important
	}

	.used_cars {
		text-align: center;
		width: 100%;
		display: block
	}

	.used_cars h2 {
		text-align: center
	}

	.used_car_item {
		width: 49%;
		display: inline-block
	}

	.used_car_item a {
		display: inline-block
	}

	.used_car_item a img {
		display: block;
		text-align: center;
		margin: 0 auto;
		float: none
	}

	.used_car_item_price {
		text-align: center
	}

	.used_car_item_name {
		display: block
	}

	.used_cars .used_car_item:nth-of-type(4) {
		border-bottom: none;
		padding-bottom: 0px
	}

	.used_car_item_price {
		width: 100%;
		margin-left: 0px !important
	}

	.used_car_item_year {
		line-height: 30px;
		margin-left: 0px;
		width: 100%;
		float: none
	}
}

@media (max-width: 1107px) {
	.car_description {
		margin-left: 0;
		display: block
	}

	.car_description h1 {
		text-align: center;
		line-height: 30px;
		margin-top: 20px
	}

	.car_description .car_modification {
		text-align: center
	}

	.car_description .car_complect {
		text-align: center
	}

	.car_description .car_colors {
		text-align: center;
		margin-right: 60px
	}

	.car_description .car_price {
		text-align: center;
		margin-right: 105px
	}

	.car_description .car_options {
		text-align: center;
		margin-right: 54px
	}

	.car_description .new_car_black_head {
		display: block;
		text-align: center;
		margin-right: 330px
	}

	.car_description .car_description_table {
		margin: 0 auto;
		padding-right: 114px
	}
}

@media (max-width: 1000px) {
	.header_phone {
		margin-top: 20px;
		text-align: center;
		display: block;
		float: none
	}

	.find_car ul {
		padding-left: 0;
		display: block;
		text-align: center
	}

	.find_car-date {
		display: block !important;
		text-align: center;
		float: none !important;
		position: static !important;
		margin-left: 21px !important
	}
}

@media (max-width: 801px) {

	.header_links,
	.header_phone {
		display: none
	}

	.icon {
		width: 40px;
		height: 40px;
		display: block;
		position: absolute;
		top: 29px;
		right: 1px;
		font-size: 30px !important;
		text-decoration: none;
		color: red;
		z-index: 999
	}

	.header_links {
		padding-top: 20px
	}

	.header_links li a {
		border-top: 1px solid #000;
		margin-left: 0px;
		padding-top: 10px;
		padding-bottom: 10px;
		display: block;
		color: #000;
		text-align: center
	}

	.header_links li a:nth-last-child(1) {
		border-bottom: 1px solid #000
	}

	.header_links li a:hover,
	.header_links li a:focus {
		background-color: rgba(80, 113, 169, 0.44)
	}

	.header_phone {
		text-align: center
	}

	.pagination {
		text-align: center
	}

	.fotorama {
		display: block
	}

	.car_description h2 {
		margin-top: 10px;
		line-height: 24px
	}

	.nav {
		display: block
	}

	/*footer*/
	.logo {
		width: 100%;
		display: block !important;
		text-align: center !important;
		margin: 0 auto
	}

	.text {
		margin-left: 0px !important;
		display: block !important;
		text-align: center !important;
		line-height: 3
	}

	.social-icons {
		text-align: center !important;
		display: block !important;
		float: none !important
	}

	.social-text {
		vertical-align: middle
	}

	/*blue block*/
	.call-back-white {
		width: 100%
	}

	.find_car_digits {
		display: block !important;
		margin-top: 5px !important;
		margin-bottom: 5px !important
	}

	/*banner*/
	.banner_logo {
		width: 25%
	}

	.banner_text {
		width: 47%
	}

	.banner_next {
		width: 25%
	}

	/*order car*/
	.order_car {
		margin: 0 auto !important;
		text-align: center !important;
		width: 100% !important
	}

	.item {
		padding-right: 0px
	}

	.item img {
		display: block !important;
		text-align: center !important;
		margin: 0 auto !important;
		float: none !important
	}

	.item_left_overflow {
		width: 100% !important;
		float: none !important
	}

	.car_name {
		display: block !important
	}

	.car_power {
		display: block !important;
		margin-left: 0 !important
	}

	.car_color {
		display: block !important;
		margin-left: 0 !important
	}

	.car_town {
		display: block !important;
		margin-left: 0 !important
	}

	.item_right_overflow {
		text-align: center !important;
		float: none !important;
		display: block !important;
		width: 100% !important
	}

	.item_price {
		float: none !important;
		display: block !important
	}

	.buy_car_btn2 {
		display: block !important;
		float: none !important;
		margin: 0 auto !important
	}

	.dealer {
		float: none !important;
		display: block !important
	}

	.dealer img {
		width: auto !important;
		height: auto !important
	}

	.discount {
		float: none !important;
		text-align: center !important
	}

	.item_price2 {
		float: none !important
	}

	.item a {
		margin-left: 0
	}
}

@media (max-width: 576px) {
	.car_colors {
		text-align: center
	}

	.car_modification p {
		display: block;
		text-align: center
	}

	.form-select {
		display: block;
		margin: 0 auto
	}

	.car_complect p {
		display: block;
		text-align: center
	}

	.car_description h2 {
		text-align: center
	}

	.car_price p {
		margin-right: 13px
	}

	.car_options a:nth-of-type(1) {
		display: block;
		text-align: center;
		margin-right: 0;
		border: none;
		margin-bottom: 10px;
		text-decoration: underline
	}

	.car_options a:nth-of-type(2) {
		display: block;
		margin: 0 auto
	}

	/*banner*/
	.banner {
		padding-left: 15px;
		padding-right: 15px
	}

	.banner_logo {
		width: 100%
	}

	.banner_text {
		width: 100%;
		margin-bottom: 20px
	}

	banner_next {
		width: 100%
	}

	.car_colors {
		margin-right: 0 !important
	}

	.car_price {
		margin-right: 0 !important
	}

	.car_options {
		margin-right: 0 !important
	}

	.new_car_black_head {
		margin-right: 0 !important;
		margin-top: 10px;
		margin-bottom: 10px
	}

	.car_description_table {
		padding-right: 0 !important
	}

	.option_table a {
		text-align: center
	}

	.btn_sort {
		text-align: center
	}

	.used_car_item {
		width: auto
	}
}

@media (max-width: 1100px) {
	.fotorama {
		display: block !important;
		margin: 0 auto !important
	}
}

@media (min-width: 679px) and (max-width: 850px) {
	.item-car.card-item {
		width: 46% !important
	}
}

@media (min-width: 450px) and (max-width: 678px) {
	.item-car.card-item {
		width: 70% !important;
		margin-right: 0 !important
	}
}

@media (min-width: 240px) and (max-width: 450px) {
	.item-car.card-item {
		width: 100% !important;
		margin-right: 0px !important
	}
}